.App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-filter {
  border:2px solid #fff ;
  width:40%;
  margin:50px 20px ;
  padding:20px ;
  display: flex; 
  justify-content: space-around;
  align-items: center;
}

.app-title  {
  margin:0px;
  padding:25px;
  text-shadow: 4px 7px 10px #fff
}
.todo {
  border:2px solid #fff ;
  width:150px;
  margin:50px 20px ;
} 

.filt {
  margin: 30px auto;
  width: 60%;
  /* border: 2px solid #fff; */
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}
 
.filt button{
  width: 120px;
  padding: 10px;
  color: #fff;
  background: transparent;
  border: 2px solid thistle;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
/* .filt button :hover{
transform: translate(2px 2px);
} */
.add {
  border:2px solid #fff ;
  padding:10px ;
  width:60% ;
  margin :20px auto ;
  /* display:flex; */
}
.btn-add {
display:flex ;
justify-content: space-evenly;
margin:10px auto ;
padding:10px
}
.btn-add button {
  width: 120px;
  padding: 10px;
  color: #fff;
  background: transparent;
  border: 2px solid thistle;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}